*{
			box-sizing: border-box;
			font-family: sans-serif,monospace,cursive ;
		}
		.header{
			font-size: 1.75em;
			text-align: center;
		}
		h1{
			margin-bottom: 15px;

		}
		p{  

			border: 1px solid black;
			background-color: gray;
			width: 90%;
			position: relative;
			margin-bottom: 0;
			color: black;
			padding-bottom: 10px;
			padding-left:10px;
			float: left;
		}
		.top{
			margin-left: 100%;
			margin-bottom: 15px;
			border: 1px solid black;
			background-color: red;
    			width: 33%;
			height: 30px;
			padding-bottom: 20px;
			float: right;
			text-align: center;
			font-size: 1.25em;
			
		}
		.row{
			width: 100%;
			position: relative;
		}
		@media (min-width: 1200px){
			 .col-larg-4{
				    float: left;
				    
				    
			}
            
            .col-larg-4{
            	width: 33%;
            }
            
        }
        		@media (min-width: 950px) and (max-width: 1199px){
			 .col-med-6{
				    float: left;
				    
				    
			}
            
            .col-med-6{
            	width: 50%;

            }
            




		}
		@media (max-width: 949px){
 .col-small-12{
				    float: left;
				     padding: auto;
				   
			}
            
            .col-small-12{
            	width: 100%;
            }  




		}